<?xml version="1.0"?>
<launch>

    <arg name="model" default="$(find steer_bot_description)/urdf/clay_roller_bot.urdf.xacro"/>
    <arg name="namespace" default="/clay_roller_bot" />
    <arg name="world_name" default="worlds/empty_world" />
    <arg name="cmd_timeout" default="0.5"/>
    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="1.0" />
    <arg name="roll" default="0.0"/>
    <arg name="pitch" default="0.0"/>
    <arg name="yaw" default="0.0"/>

    <group ns="$(arg namespace)">

        <!-- Gazebo  -->
        <!-- Add boundary !!! (Resolved by manual load building)-->
        <include file="$(find gazebo_ros)/launch/empty_world.launch">
            <arg name="world_name" default="$(arg world_name)"/>
        </include>

    </group>

</launch>
